.menu
    {list-style-type: none; 
    margin: auto;
    width: fit-content;
    padding-left: 0px;

   }
   .menu a {
    text-decoration: none;
    color: red;
    display: inline-block;
    padding: 10px;
    margin: auto;
    height: 27px;
    text-align: center;
   }
   .menu li {
    display: inline;
    vertical-align: middle;
   }
   img {
    text-align: center;
    margin-left: 0px;
    width: 100%;
    
   }
   body {
    font-family: Montserrat-Bold;
    margin-left: 0px;
    margin-right: 0px;
   }
   h2 {
    text-transform: uppercase;
    text-align: center;
   }
   p {
    font-family: Montserrat-Regular;
    text-align: center;
    letter-spacing: 2.4px;
    margin: 67.5px;
    line-height: 133%;
   }
   button {
    background-color: #ff0000;
    color: white;
    width: 191px;
    text-align: center;
    border-radius: 4px;
    padding-inline: 20px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 42px;
    margin-left: 544.5px;
    height: 51px;
    border: none;
    display: inline-block;
    Font-family: Montserrat-Bold;
   }
   footer {
    margin-left: 608px;
    Font-family: Montserrat-Bold;
   }
   